<div class="main-container d-flex justify-content-center">
  <!-- search bar -->
  <div class="top-container col-sm-4 row">
    <div class="container search_bar">
      <div class="search_bar_outer">
        <div class="search_bar_inner">
          <h4 class="mb-2">尋找餐廳：</h4>
          <form action="/search">
            <div class="d-flex flex-row">
              <div class=" input-group">
                <input type="text" class="form-control" name="keyword" placeholder="輸入餐廳、分類" value=" {{keyword}}"
                  aria-label="Restaurant Name..." value="" aria-describedby="search-button" />
                <div class="input-group-append">
                  <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- sorting bar -->
  <div class="bottom-container col-sm-4 row">
    <div class="container sorting-bar">
      <div class="sorting-bar-outer">
        <div class="sorting-bar-inner">
          <h4 class="mb-2">Sort:</h4>
          <form action="/sort" method="POST">
            <div class="d-flex flex-row">
              <div class=" input-group">
                <select class="form-control" name="select" id="select" onchange="this.form.submit()">
                  <option>選則排序方式</option>
                  <option value="0"> A -> Z </option>
                  <option value="1"> Z -> A </option>
                  <option value="2"> 類別 </option>
                  <option value="3"> 地區 </option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <div class="card mb-3">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">
              {{this.name}}
            </h6>
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>
              {{this.category}}
            </div>
            <span class="badge badge-pill badge-danger font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
          <div class="card-footer d-flex justify-content-end flex-wrap">
            <a class="btn btn-link btn-sm" href="/restaurants/{{this._id}}/edit" role="button">Edit</a>
            <a class="btn btn-link btn-sm" href="/restaurants/{{this._id}}" role="button">Detail</a>
            <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
          </div>
        </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>